extends layout

block content
  h1= "JESSICA's BURGER JOINT"
  p What would you like to do?

  a(href="/ingredient/new") Make a new ingredient
  br
  a(href="/order/new") Make a new burger
  br
  a(href="/orders") View all the burgers
